<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MIT - Phi Sig</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="minimal-ui, width=device-width, user-scalable=no">


    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">

    <!-- external scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.13.1/sortable.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>
    <script src="/javascripts/lodash.min.js"></script>

  </head>
  <body>
    <div ng-app="tripleT" ng-controller="AppCtrl" ng-view>
      <!-- angular controller will fill this in -->
    </div>

    <!-- angular scripts -->
    <script src="/angular/app.js"></script>
    <script src="/angular/home/dashboard.module.js"></script>
    <script src="/angular/election/election.module.js"></script>
    <script src="/angular/userManagement/userManagement.module.js"></script>
    <script src="/angular/layout/layout.module.js"></script>


  </body>
</html>
