<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        <a class="header-title" href='/#/'>Phi Sig Triple-T</a>
      </span>
      <div class="mdl-layout-spacer"></div>
      <span ng-if='currentUser'>Hello, {{currentUser.displayName}}</span>
      <nav ng-if='currentUser' class="mdl-navigation">
        <a class="mdl-navigation__link" href="/auth/signout">Sign Out</a>
      </nav>
    </div>

  </header>
  <main class="mdl-layout__content" ng-transclude></main>
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">MIT | Phi Sigma Kappa</div>
    </div>
  </footer>
</div>