<div layout="column" layout-fill>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <span>
        <a href='/#/' class='md-headline'>Phi Sig Triple-T</a>
      </span>
      <span flex></span>
      <span ng-if='currentUser' class="toolbar-link md-body-2">Hello, {{currentUser.displayName}}</span>
      <md-menu ng-if="currentUser">
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="open user options">
          <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-if='isAuthorized(userRoles.admin)'>
            <md-button ng-click="redirect('/userManagement')">
              Manage Users
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="">
              Change Password
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="signout()">
              Sign Out
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <main layout="column" layout-align="space-around center">
    <md-content ng-transclude></md-content>
  </main>
<!--   <footer>
    <div layout="row" layout-align="center center">
      <h2>MIT | Phi Sigma Kappa</h2>
    </div>
  </footer> -->
</div>