<div layout="column" layout-fill>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <span>
        <a href='/#/' class='md-headline'>Phi Sig Triple-T</a>
      </span>
      <span flex></span>
      <span ng-if='currentUser' class="toolbar-link md-body-2">Hello, {{currentUser.displayName}}</span>
      <nav ng-if='isAuthorized(userRoles.admin)'>
        <a href="/#/userManagement" class="toolbar-link md-body-2">Manage Users</a>
      </nav>
      <nav ng-if='currentUser'>
        <a href="/auth/signout" class="toolbar-link md-body-2">Sign Out</a>
      </nav>
    </div>
  </md-toolbar>
  <main layout="column" layout-align="space-around center">
    <md-content ng-transclude></md-content>
  </main>
<!--   <footer>
    <div layout="row" layout-align="center center">
      <h2>MIT | Phi Sigma Kappa</h2>
    </div>
  </footer> -->
</div>