.header-title {
   text-decoration: inherit;
   color: inherit;
}

.mdl-layout__content {
   background-color: whitesmoke;
}

.mdl-cell {
   background-color: white;
}

#signin-textbox {
   padding: 10px;
}

#dashboard-cards {
   max-width: 1080px;
}

#election-voting-cell {
   max-width: 500px;
}

#election-title {
   text-align: center;
}

.election-directions {
   text-align: center;
   color: rgb(147, 147, 147);
}

.election-candidate {
   padding: 10px;
   border-bottom: 1px solid rgb(237, 237, 237);
   cursor: -webkit-grab;
}

.election-candidate:active {
   cursor: -webkit-grabbing;
}

.election-candidate-container {
   margin: 20px 15px;
}

.election-submit-text {
   font-size: 14px;
   padding: 0px 13px;
   color: rgb(147, 147, 147);
}

.new-election-textbox {
   width: 100%;
}

.home-election-name {
   padding: 10px;
   display: inline-block;
}

.home-election {
   padding: 0px 16px;
}

.home-election:hover {
   background-color: rgb(240, 240, 240);
   border-radius: 3px;
   cursor: pointer;
}

.show-results-icon {
   float: right;
   margin: 5px;
}

.home-election-winner-text {
   padding: 10px;
   margin: 0px;
   float: right;
}

.dining-title {
   position: relative;
}

.dining-edit-btn {
   position: absolute;
   right: 20px;
}

.dining-subtitle {
   font-weight: 800;
}

.dining-dayinfo {
   margin: 20px auto;
   text-align: center;
   max-width: 400px;
   font-size: 16px;
}

.dining-dayinfo.mdl-textfield {
   display: block;
}

.dining-linebreak {
   margin: 0px auto;
   width: 25%;
   border-bottom: 1px solid rgb(226, 226, 226);
}

.dining-no-lateplate {
   color: gray;
   font-style: italic;
}

.mdl-tabs__tab-bar > .mdl-tabs__tab {
   padding: 0px 3%;
}

.late-plate-btn {
   margin-top: 10px;
}

#bibles {
   height: 300px;
}

#makeRequestBtn {
  float: right;
  margin: 10px;
}
