.sign-in-card {
   min-width: 355px;
}

.user-management-card {
   min-width: 450px;
}

.new-user-container {
  max-width: 95%;
  width: 300px;
}

.dashboard-cards {
  width: 600px;
}

.new-user-error-msg {
  font-size: 15px;
  color: red;
}

.toolbar-link {
   margin: 0px 10px;
}

.text-center {
   text-align: center;
}

.election-directions {
   text-align: center;
   color: rgb(147, 147, 147);
}

.election-candidate {
   padding: 10px;
   border-bottom: 1px solid rgb(237, 237, 237);
   cursor: -webkit-grab;
}

.election-candidate:active {
   cursor: -webkit-grabbing;
}

.election-candidate-container {
   margin: 20px 15px;
   width: 330px;
}

.election-submit-text {
   font-size: 14px;
   padding: 0px 13px;
   color: rgb(147, 147, 147);
}

.home-election-name {
   padding: 10px;
   display: inline-block;
}

.home-election {
   padding: 0px 16px;
}

.home-election:hover {
   background-color: rgb(240, 240, 240);
   border-radius: 3px;
   cursor: pointer;
}

.show-results-icon {
   float: right;
   margin: 5px;
}

.home-election-winner-text {
   padding: 10px;
   margin: 0px;
   float: right;
}

.dining-subtitle {
   font-weight: 800;
}

.dining-dayinfo {
   margin: 20px auto;
   text-align: center;
   max-width: 400px;
   font-size: 16px;
}

.dining-dayinfo.mdl-textfield {
   display: block;
}

.dining-linebreak {
   margin: 0px auto;
   width: 25%;
   border-bottom: 1px solid rgb(226, 226, 226);
}

.dining-no-lateplate {
   color: gray;
   font-style: italic;
}

.dining-edit-btn {
  position: absolute;
  right: 15px;
}

.mdl-tabs__tab-bar > .mdl-tabs__tab {
   padding: 0px 3%;
}

.late-plate-btn {
   margin-top: 10px;
}

#bibles {
   height: 300px;
   width: 100%;
}

#pmRequestTable {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 16px;
  table-layout: fixed;
  width: 100;
}

.pm-item-author {
  float: left;
  display: inline-block;
  color: rgba(0,0,0,0.54);
}

.pm-item {
  padding-left: 20%;
}

p.pm-item{
  padding-left: 21%;
}

td.pm-request-table {
  text-align: left;
  word-wrap: break-word;
  width: 100px;
}

.mdl-data-table__cell--non-numeric.pm-request-table__reason {
  text-align:center;
}

.pm-request-remove-btn {
  float: right;
}

div.pm-request-remove-btn {
  padding: 10%;
}

.no-pm-requests {
  color: gray;
  font-style: italic;
  margin-left: 15px;
}

.editable-section {
   position: relative;
}

.section-edit-btn {
   position: absolute;
   right: 20px;
}
