<md-dialog>
   <md-toolbar>
      <h2 class="md-toolbar-tools">{{election.name}}</h2>
   </md-toolbar>
   <md-dialog-content>
         <div class="election-candidate-container">
            <p class="election-directions">This election has {{election.numWinners}} winner(s)</p>
            <div ui-sortable ng-model="election.candidates">
               <div ng-repeat="candidate in election.candidates">
                  <div class="election-candidate">{{$index + 1}}. 
                     <span class="election-candidate-name">{{candidate}}</span>
                  </div>
               </div>
            </div>
         </div>
         <div ng-show='animated' 
                     ng-class="{ 'bounceIn' : (showSubmitText && animated), 'bounceOut' : (!showSubmitText && animated)}"
                     class="animated election-submit-text">
               Submitted! Changed your mind? Vote again!
         </div>
         <div class="md-actions">
            <md-button ng-click="submitVote()" class="">
               Submit
            </md-button>
         </div>
   </md-dialog-content>
</md-dialog>