<ttheader>
   <div class="page-content" data-ng-controller="newElectionCtrl">
      <h2 id="election-title">Create Election</h2>
      <div class="mdl-grid content" id="election-voting-cell">
         <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp">
            <div class="election-candidate-container">
               <form action="#">
              <div class="new-election-textbox mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" ng-model="election.name" />
                <label class="mdl-textfield__label" for="sample3">Election title...</label>
              </div>
                <div id="new-election-candidates" class="new-election-textbox mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows= "3" ng-model="election.candidates" ></textarea>
                <label class="mdl-textfield__label" for="sample5">Candidates...</label>
              </div>
              <span class="mdl-tooltip" for="new-election-candidates">One line per candidate</span>
            </form>

            </div>
            <div class="mdl-card__actions mdl-card--border">
               <button ng-click="createElection()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
               Create
               </button>
            </div>
         </div>
         
      </div>
   </div>
</ttheader>