<ttlayout>
    <div id="dashboard-cards">
      <!-- DINING -->
      <md-card class="md-whiteframe-z3">
        <md-card-content>
          <md-button ng-hide="diningEditMode"
                    ng-if="isAuthorized(userRoles.admin)"
                    ng-click="toggleEditMode()"
                    class="md-icon-button dining-edit-btn"
                    aria-label="edit dining" >
            <md-icon md-svg-icon="images/icons/edit.svg"></md-icon>
          </md-button>
          <md-button ng-show="diningEditMode" 
                    ng-click="submitDiningMenu()"
                    class="md-icon-button dining-edit-btn"
                    aria-label="done editing dining">
            <md-icon md-svg-icon="images/icons/done.svg"></md-icon>
          </md-button>
          <h1 class="md-title">Dining</h1>

          <!-- Dining Tabs -->
          <md-tabs ng-hide="diningEditMode" md-dynamic-height md-center-tabs md-selected=currentDayOfWeek>
            <md-tab ng-repeat="(dayofweek, dayInfo) in diningWeek">
              <md-tab-label>
                {{ abbrevDOW[daysOfWeek.indexOf(dayofweek)] }}
              </md-tab-label>
              <md-tab-body>
                <div class="dining-dayinfo">
                  <span class="dining-subtitle">HEAD CHEF: </span>
                  {{dayInfo.Acomm}}
                </div>
                <div class="dining-linebreak"></div>
                <div class="dining-dayinfo">
                  <div class="dining-subtitle">MENU:</div>
                  <p>{{dayInfo.menu}}</p>
                </div>
                <div class="dining-linebreak"></div>
                <div class="dining-dayinfo">
                  <div class="dining-subtitle">LATE PLATES:</div>
                  <p ng-show="dayInfo.latePlates.length === 0" class="dining-no-lateplate">none</p>
                  <div ng-repeat="name in dayInfo.latePlates">{{name}}</div>

                  <!-- Add Late Plate -->
                  <md-button ng-hide="hasLatePlate[dayofweek]"
                            ng-click="addLatePlate(dayofweek)"
                            class="late-plate-btn md-fab md-mini"
                            aria-label="add late plate">
                    <md-icon md-svg-icon="images/icons/add.svg"></md-icon>
                  </md-button>

                  <!-- Remove Late Plate -->
                  <md-button ng-show="hasLatePlate[dayofweek]" 
                            ng-click="removeLatePlate(dayofweek)"
                            class="late-plate-btn md-fab md-mini"
                            aria-label="remove late plate">
                    <md-icon md-svg-icon="images/icons/remove.svg"></md-icon>
                  </md-button>
                </div>
              </md-tab-body>
            </md-tab>       
          </md-tabs>

          <md-tabs ng-show="diningEditMode" md-dynamic-height md-center-tabs>
            <md-tab ng-repeat="(dayofweek, dayInfo) in diningWeek">
              <md-tab-label>
                {{ abbrevDOW[daysOfWeek.indexOf(dayofweek)] }}
              </md-tab-label>
              <!-- Edit Dining Mode -->
              <md-tab-body>
                <md-input-container class="dining-dayinfo">
                  <span class="dining-subtitle">HEAD CHEF: </span>
                  <input type="text" ng-model="dayInfo.Acomm" aria-label="enter acomm"/>
                </md-input-container>
                <md-input-container class="dining-dayinfo">
                  <div class="dining-subtitle">MENU:</div>
                  <textarea type="text" ng-model="dayInfo.menu" aria-label="input menu"></textarea>
                </md-input-container>
                
                <div class="dining-dayinfo">
                  <div class="dining-subtitle">LATE PLATES:</div>
                  <p ng-show="dayInfo.latePlates.length === 0" class="dining-no-lateplate">none</p>
                  <div ng-repeat="name in dayInfo.latePlates">{{name}}</div>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>

          <!-- Clear Late Plates -->
          <div ng-show="diningEditMode"
              ng-click="clearLatePlates()"
              layout="row"
              layout-align="left center"
              class="md-actions">
            <md-button class="md-raised md-primary" aria-label="remove all late plates">
              Clear all Late Plates
            </md-button>
          </div>
        </md-card-content>
      </md-card>

    <!-- ELECTIONS -->
      <md-card class="md-whiteframe-z3">
        <md-card-content>
          <h1 class="md-title">Elections</h1>
          <md-list>
            <md-list-item ng-repeat="election in elections"
                        ng-click="voteInElection($event, election._id)"
                        layout="row">
              <div class="md-body-2">{{election.name}}</div>
              <span flex></span>
              <md-menu ng-if="election.creator === currentUser.kerberos">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="open election menu">
                  <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item>
                    <md-button ng-click='getWinner($event, election)'
                          aria-label="show election winner">
                      <md-icon md-svg-icon="images/icons/star.svg"></md-icon>
                      See Winner
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="deleteElection(election)" aria-label="delete election">
                      <md-icon md-svg-icon="images/icons/delete.svg"></md-icon>
                      Delete Election
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              
              <p ng-show="election.show" class="animated zoomIn">
                {{election.winner}}
              </p>
            </md-list-item>
          </md-list>
          <md-divider></md-divider>
          <div class="md-actions" layout="row" layout-align="left center">
            <md-button class="" ng-click="newElection($event)" aria-label="create election">
              Create
            </md-button>
          </div>
        </md-card-content>
      </md-card>

  <!-- VP Korner -->
    <md-card class="md-whiteframe-z3">
      <md-card-content>
        <h1 class="md-title" id="homeVP">VP Korner</h1>
      </md-card-content>
    </md-card>

      <!-- PM Requests -->
      <md-card class="md-whiteframe-z3">
        <md-card-content>
          <md-button ng-show="pmEditMode"
                     ng-if="isAuthorized(userRoles.pm)"
                     ng-click="togglePmEditMode()" 
                     class="md-icon-button section-edit-btn">
            <md-icon md-svg-icon="images/icons/edit.svg"></md-icon>
          </md-button>
          <md-button ng-hide="pmEditMode" 
                     ng-click="togglePmEditMode()" 
                     class="md-icon-button section-edit-btn">
            <md-icon md-svg-icon="images/icons/done.svg"></md-icon>
          </md-button>
          <h1 class="md-title">PM Requests</h1>

        <!-- Display current requests -->
          <div ng-if="hasPmRequests">
            <md-list class="fixedRows">
              <md-header>Current PM Requests:</md-header>
              <md-list-item class="md-2-line" ng-repeat="request in pmRequests">
                <div class="pm-item-author">
                  <p>{{ request.author }}</p>
                </div>
                <div class="md-list-item-text">
                  <h3 class="pm-item">{{ request.item }}</h3>
                  <p class="pm-item">{{ request.reason }}</p>
                </div>
                <md-checkbox ng-disabled="!isAuthorized(userRoles.pm) && currentUser.name != request.author" 
                             ng-click="toggleDeletePmRequest(request, pmRequestsToDelete, isAuthorized(userRoles.pm) || currentUser.name == request.author)"></md-checkbox>
              </md-list-item>
            </md-list>
          </div>

          <div ng-if="!hasPmRequests">
            <p class="no-pm-requests">No requests have been made</p>
          </div>

          <div>
            <md-button ng-disabled="!anyPmRequestSelected(pmRequestsToDelete)" 
                       ng-click="removeSelectedPmRequests(pmRequestsToDelete)"
                       class="md-primary pm-request-remove-btn">Remove</md-button>
          </div>
          <!-- Form for adding new requests -->
          <form name="pmRequestForm">
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Item...</label>
                <input ng-model="pmRequest.item"/>
              </md-input-container>
              <md-input-container flex>
                <label>Reason...</label>
                <input ng-model="pmRequest.reason"/>
              </md-input-container>
              <md-input-container flex>
                <md-button ng-click="makeRequest(pmRequest); pmRequest = ''" class="md-primary"
                type="submit">Make Request</md-button>
              </md-input-container> 
            </div>
          </form>
        </md-card-content>
      </md-card>
      
      <!-- Bibles -->
      <md-card class="md-whiteframe-z3">
        <md-card-content>
          <h1 class="md-title">Bibles</h1>
          <iframe id="bibles" src="https://drive.google.com/embeddedfolderview?id=0B7doyB_hQs06aktkSl9QZjlRbUk#list"></iframe>
        </md-card-content>
      </md-card>
    </div>
</ttlayout>
