<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <a class="header-title" href='/#/'>Phi Sig Triple-T</a>
      </span>
      <div class="mdl-layout-spacer"></div>
      <span ng-show='user'>Hello, {{user.displayName}}</span>
      <nav ng-show='user' class="mdl-navigation">
        <a class="mdl-navigation__link" href="/auth/signout">Sign Out</a>
      </nav>
    </div>

  </header>
  <!-- <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
        <a class="header-title" href='/#/'>Phi Sig Triple-T</a>
      </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" ng-click="jumpTo('elections')">Elections</a>
      <a class="mdl-navigation__link" ng-click="jumpTo('dining')">Dining</a>
    </nav>
  </div> -->
  <main class="mdl-layout__content" ng-transclude>
  </main>
</div>