<ttlayout>
   <div class='page-content'>
      <div class="mdl-grid content">
         <div class="mdl-cell--4-col"></div>
         <form class="mdl-cell mdl-cell--4-col mdl-shadow--4dp">
            <div class="mdl-card__title">
               <h1 class="mdl-card__title-text">Sign In</h1>
            </div>
            <div id="signin-textbox">
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" ng-model="credentials.kerberos" />
                  <label class="mdl-textfield__label">Kerberos...</label>
               </div>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="password" ng-model="credentials.password" />
                  <label class="mdl-textfield__label">Password...</label>
               </div>
               <div class="text-center form-group">
                  
               </div>
            </div>
            <div class="mdl-card__actions">
               <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="signin(credentials)">Sign in</button>
            </div>
         </form>
         <div class="mdl-cell--4-col"></div>
      </div>
   </div>
</ttlayout>