<ttlayout>
   	<md-card class="md-whiteframe-z3 user-management-card">
   		<md-card-content>
   	  		<h1 class='md-title'>User Management</h1>
            <md-list>
				<md-list-item class="md-3-line" ng-repeat="user in users">
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column">
								<h4>{{ user.name }}</h4>
								<p>{{ user.kerberos }}</p>
							</div>
							<span flex></span>
							<md-input-container>
								<label>Privileges</label>
								<md-select ng-model="user.role">
									<md-option>Admin</md-option>
									<md-option>Comm</md-option>
									<md-option>No privileges</md-option>
								</md-select>
							</md-input-container>
						</div>
					</div>
			    </md-list-item>
            </md-list>
        </md-card-content>
      </md-card>
   </ttlayout>
</ttlayout>