<ttlayout>
   	<md-card class="md-whiteframe-z3">
   		<md-card-content>
            <div layout='row' layout-align='start center'>
       	  		<h1>User Management</h1>
                <span flex></span>
                <md-button
                        ng-click="newUserModal($event)"
                        class="md-fab md-mini md-primary"
                        aria-label="new user modal" >
                    <md-icon md-svg-icon="images/icons/add.svg"></md-icon>
                </md-button>
            </div>
            <md-list>
				<md-list-item class="md-3-line" ng-repeat="user in users">
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column">
								<h4>{{ user.name }}</h4>
								<p>{{ user.kerberos }}</p>
							</div>
							<span flex></span>
							<md-input-container>
								<label>Privileges</label>
								<md-select ng-model="user.role" md-on-close='changePermission(user._id, user.role)'>
									<md-option ng-repeat='role in allRoles'>{{ role }}</md-option>
								</md-select>
							</md-input-container>
					        <md-button
		                        ng-click="removeUserModal($event, user)"
		                        class="md-fab md-mini"
		                        aria-label="remove user modal" >
		                    	<md-icon md-svg-icon="images/icons/remove.svg"></md-icon>
            				</md-button>
						</div>
					</div>
			    </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</ttlayout>