<ttlayout>
   <md-card class="md-whiteframe-z3 input-card">
      <form>
         <md-card-content>
            <h1 class='md-title'>Change Password</h1>
            <md-input-container>
               <input type="password" ng-model="credentials.password" />
               <label>Current password...</label>
            </md-input-container>
            <md-input-container>
               <input type="password" ng-model="credentials.newPassword" />
               <label>New password...</label>
            </md-input-container>
            <md-input-container>
            	<input type="password" ng-model="credentials.confirmNewPassword" />
            	<label>Confirm new password...</label>
            </md-input-container>
         </md-card-content>
         <md-dialog-actions class="md-actions" layout="row" layout-align="end center">
            <span ng-show="animated" 
               ng-class="{ 'bounceIn' : (passwordChanged && animated), 'bounceOut' : (!passwordChanged && animated)}"
               class="animated change-password-text">
            Password changed!
            </span>
            <span ng-show="errorMsg"
                 ng-class="{ 'bounceIn' : errorMsg, 'bounceOut' : !errorMsg }" 
                 class="animated error-msg change-password-text">
               {{ errorMsg }}
            </span>
            <md-button type="submit" class="md-raised" ng-click="changePassword(credentials)">Submit</md-button>
         </md-dialog-actions>
      </form>
   </md-card>
</ttlayout>